/* Barra de navegacion */
.navbar {
  padding: 1rem; 
  background-color: #6788AA;
}
.navbar-collapse {
  align-items: center;
  justify-content: space-between;
}
.nav-link {
  color: #123355;
}

/* Adaptable */
@media screen and (max-width: 767px) {
  .navbar-brand {
    display: none;
  }
}

@media  screen and (min-width: 700px) {
  .hero-inferior-imagen {
    max-width: 600px;
  }
}

h1 {
  font-size: 2.7rem;
  font-family: 'Quicksand', sans-serif;
  font-weight: 700;
  color: #123355;
}

.seccion-oscura {
  color:white;
  background-color: black;
}

.seccion-titulo {
  font-size: 2rem;
  padding: 20px 0;
  font-family: 'Quicksand', sans-serif;
}

.seccion-texto {
  font-size: 1.2rem;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Seccion principal (hero) */
.hero {
  background-color: white;
  min-height: 450px;
  text-align: center;
}
.hero-principal {
  padding: 3rem;
}
.hero-image-dev {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin: 20px;
}
.hero-principal h2 {
  font-size: 1.5rem;
  font-family: 'Quicksand', sans-serif;
  font-weight: 400;
  color: #123355;
}

/* Sobre mi */
.sobre-mi {
  height: 500px;
  padding: 10px;
}

.sobre-mi .contenedor {
  max-width: 600px;
  text-align: center;
}